﻿@model IEnumerable<Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Role
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var user in ViewBag.usersList)
{
    <tr>
        <td>
            @user.Name
        </td>
        <td>
            @user.Roles.ToString()
        </td>
    </tr>
}

</table>
