﻿@model Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

    </dl>
</div>
@Html.
@foreach (var product in ViewBag.ProductsList)
{
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @product.Name
        </dd>

        <dt>
            
        </dt>

        <dd>
          
        </dd>
        <dt>
            Is Available
        </dt>

        <dd>
        </dd>

    </dl>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
